.centered-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    min-width: 768px;
    gap: 20px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 720px;
    max-width: 720px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.album-cover {
    width: 70px; /* Adjust the size as needed */
    height: 70px; /* Adjust the size as needed */
    border-radius: 8px; /* Controls the roundness; adjust as needed */
    overflow: hidden; /* Clip the image within the rounded square */
    background-color: #b64201; /* Set the background color to a light gray; adjust as needed */
    display: flex;
    justify-content: center;
}

.album-cover-big {
    width: 250px; /* Adjust the size as needed */
    height: 250px; /* Adjust the size as needed */
    border-radius: 8px; /* Controls the roundness; adjust as needed */
    overflow: hidden; /* Clip the image within the rounded square */
    background-color: #b64201; /* Set the background color to a light gray; adjust as needed */
    display: flex;
    justify-content: center;
}
  